@import '../../../styles/mixins.module.scss';
@import '../../../styles/colors.module.scss';
@import '../../../styles/variables.module.scss';

.wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.container {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
