@import './fonts.scss';
@import "./mixins.module.scss";
@import './colors.module.scss';
@import './variables.module.scss';

html,
body {
 padding: 0;
 margin: 0;
 background-color: $white;
}

a {
  color: inherit;
  text-decoration: none;

  @include link-focus-outline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
