@import './variables.module.scss';

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-large-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-large-width}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin make-side-margin($max-width: $max-content-width) {
    margin-left: $side-margin;
    margin-right: $side-margin;

    @include tablet {
        margin-left: $tablet-side-margin;
        margin-right: $tablet-side-margin;
    }
 
    @include desktop() {
        margin-left: $desktop-side-margin;
        margin-right: $desktop-side-margin;
    }

    // centering content when max-width reached (+ margin)
    @media (min-width: #{$max-width + 2 * $desktop-side-margin + 1px}) {
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
    }
}




@mixin link-focus-outline {
    outline: none;

    &:focus-visible {
        outline: 2x solid $green;
        outline-offset: 4px;
    }
}
