$mobile-width: 375px;
$table-width: 768px;
$table-large-width: 1024px;
$desktop-width: 1280px;
$desktop-large-width: 1366px;


:export {
    mobileWidth: $mobile-width;
    tabletWidth: $table-width;
    tabletLargeWidth: $table-large-width;
    desktopWidth: $desktop-width;
    desktopLargeWidth: $desktop-large-width;
}
